<ion-header>
  <ion-navbar color="navbar">
    <ion-title>De stand</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="!totaalstand && !isLoading">
    <ion-card>
      <ion-card-content>
        Er is nog geen stand bekend.
      </ion-card-content>
    </ion-card>
  </ion-list>

  <div class="afleveringsstand">

  <ion-card>
    <detailafleveringstand *ngFor="let standline of totaalstand let index =index;
            let isOdd=odd;
            let isEven=even" [totaalstandline]='standline' [isOdd]="isOdd"
                           [isEven]="isEven">
    </detailafleveringstand>
  </ion-card>
  </div>

</ion-content>
