<ion-header>
  <ion-navbar color="navbar">
    <ion-title>De stand</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <!--todo stylen-->
  <ion-card *ngIf="totaalstand?.length === 0">
Er is nog geen stand bekend.
  </ion-card>

  <ion-card>
    <detailafleveringstand *ngFor="let standline of totaalstand let index =index;
            let isOdd=odd;
            let isEven=even" [totaalstandline]='standline' [isOdd]="isOdd"
                           [isEven]="isEven">
    </detailafleveringstand>
  </ion-card>
</ion-content>
