<ion-header>
  <ion-navbar>
    <ion-title>Je voorspellingen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="auth.authenticated()">
  <form [formGroup]="voorspelling" (ngSubmit)="logForm()">
    <ion-item text-center>
      <img *ngIf='activeMol' class="mollen" [ngClass]="{'active' : kiesMol}"
           [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + activeMol[0]?.name.toLowerCase() + '.jpg'"
           (click)="setKiesMol()">
      <img *ngIf="activeWinnaar" class="mollen" [ngClass]="{'active' : kiesWinnaar}"
           [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + activeWinnaar[0]?.name.toLowerCase() + '.jpg'"
           (click)="setKiesWinnaar()">
      <img *ngIf="activeAfvaller" class="mollen" [ngClass]="{'active' : kiesAfvaller}"
           [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + activeAfvaller[0]?.name.toLowerCase() + '.jpg'"
           (click)="setKiesAfvaller()">
    </ion-item>
    <ion-item *ngIf="kiesMol">
      De Mol
      <ion-scroll scrollX="true">
        <img class="mollen active" *ngFor="let mol of mollen"
             [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + mol?.name.toLowerCase() + '.jpg'"
             (click)="setActiveMol(mol)">
      </ion-scroll>
    </ion-item>
    <ion-item *ngIf="kiesWinnaar">
      Winnaar
      <ion-scroll scrollX="true">
        <img class="mollen active" *ngFor="let winnaar of winnaars"
             [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + winnaar?.name.toLowerCase() + '.jpg'"
             (click)="setWinnaar(winnaar)">
      </ion-scroll>
    </ion-item>
    <ion-item *ngIf="kiesAfvaller">
      Afvaller
      <ion-scroll scrollX="true">
        <img class="mollen active" *ngFor="let afvaller of afvallers"
             [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + afvaller?.name.toLowerCase() + '.jpg'"
             (click)="setAfvaller(afvaller)">
      </ion-scroll>
    </ion-item>
    <div text-center>

      <button disabled ion-button outline><</button>
      <button ion-button type="submit" [disabled]="!voorspelling.valid">Opslaan</button>
      <button ion-button outline> ></button>
    </div>
  </form>

  <!--<pre>mol: {{activeMol | json}}</pre>-->
</ion-content>
