<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Voorspellen</ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="auth.isAuthenticated()">
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-card *ngIf="afleveringVoorVoorspelling === null">
    <ion-card-header>De laatste aflevering is geweest.</ion-card-header>
  </ion-card>

  <ion-card *ngIf="afleveringVoorVoorspelling > 0">
    <ion-card-content>
      Sla je voorspellingen op voor: {{acties?.voorspellingDeadlineDatetime | date:'d MMMM HH:mm'}}
    </ion-card-content>
  </ion-card>

  <form *ngIf="!isLoading && afleveringVoorVoorspelling > 0" [formGroup]="voorspelling" (ngSubmit)="logForm()">
    <ion-list>
      <ion-item class="headereven" (click)="kiesMol = !kiesMol">
        <ion-thumbnail item-left>
          <img [src]="activeMol?.image_url" *ngIf="activeMol && !activeMol?.afgevallen">
        </ion-thumbnail>
        <span *ngIf="activeMol && !activeMol?.afgevallen">{{activeMol?.display_name}} is je mol
        </span>
        <span *ngIf="(!activeMol && kiesMol) || activeMol?.afgevallen">Kies je mol</span>
        <ion-icon *ngIf="!kiesMol" item-right name="arrow-down"></ion-icon>
        <ion-icon *ngIf="kiesMol" item-right name="arrow-up"></ion-icon>
      </ion-item>
      <carousel *ngIf="kiesMol" [buttonText]="'Mijn mol'" [slides]="slides" [molid]="activeMolIndex"
                (selectSlide)="setActiveMol($event);"></carousel>

      <ion-item class="headerodd" (click)="kiesWinnaar = !kiesWinnaar">
        <ion-thumbnail item-left>
          <img [src]="activeWinnaar?.image_url" *ngIf="activeWinnaar && !activeWinnaar?.afgevallen">
        </ion-thumbnail>
        <span *ngIf="activeWinnaar && !activeWinnaar?.afgevallen">{{activeWinnaar?.display_name}} is je winnaar
</span>
        <span *ngIf="(!activeWinnaar && kiesWinnaar) || activeWinnaar?.afgevallen">Kies je winnaar</span>

        <ion-icon *ngIf="!kiesWinnaar" item-right name="arrow-down"></ion-icon>
        <ion-icon *ngIf="kiesWinnaar" item-right name="arrow-up"></ion-icon>
      </ion-item>
      <carousel *ngIf="kiesWinnaar" [buttonText]="'De Winnaar'" [slides]="slides" [molid]="activeWinnaarIndex"
                (selectSlide)="setWinnaar($event);"></carousel>

      <ion-item class="headereven" (click)="kiesAfvaller = !kiesAfvaller">
        <ion-thumbnail item-left>
          <img [src]="activeAfvaller?.image_url" *ngIf="activeAfvaller && !activeAfvaller?.afgevallen">
        </ion-thumbnail>
        <span *ngIf="activeAfvaller && !activeAfvaller?.afgevallen">{{activeAfvaller?.display_name}} is je afvaller
</span>
        <span *ngIf="(!activeAfvaller && kiesAfvaller) || activeAfvaller?.afgevallen">Kies je afvaller</span>
        <ion-icon *ngIf="!kiesAfvaller" item-right name="arrow-down"></ion-icon>
        <ion-icon *ngIf="kiesAfvaller" item-right name="arrow-up"></ion-icon>
      </ion-item>
      <carousel *ngIf="kiesAfvaller" [buttonText]="'Afvaller'" [slides]="slides" [molid]="activeAfvallerIndex"
                (selectSlide)="setAfvaller($event);"></carousel>
    </ion-list>

  </form>
</ion-content>

<ion-footer>
  <button [disabled]="!voorspelling.valid || afleveringVoorVoorspelling === 0 || afleveringVoorVoorspelling === null || deadlineVerstreken || magNietOpslaan()" ion-button color="button" full type="submit" (click)="logForm()">Opslaan
  </button>
</ion-footer>

