page-molvoorspelling {
  ion-scroll {
    white-space: nowrap;
    height: 10rem;
  }
  .mollen {
    opacity: 0.2;
    max-width: 8rem;
    max-height: 8rem;
    padding: 2px;
  }
  .active {
    opacity: 1 !important;
  }
  .selected {

  }
  .button {
    height: 4.5em;
    margin: 0;
  }
  ion-item.item-block {
    padding-left: 0;
    border-top: 0 !important;
    border-bottom: 0 !important;
    min-height: 4.0em;
  }

  ion-card {
    margin: 0 !important;
    width: 100% !important;
  }
}
