<ion-content class="quiz">
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="showgeenquizscherm">
  <ion-card>
    <ion-card-content>
      De 1e test verschijnt na aflevering 1.
      Heb je je notificaties ingeschakeld dan krijg je een notificatie wanneer de test beschikbaar is.
    </ion-card-content>
  </ion-card></ion-list>

  <ion-list *ngIf="showeindeseizoenscherm">
    <ion-card>
      <ion-card-content>
        De laatste aflevering van wie is de mol is geweest. Er is geen test meer.
      </ion-card-content>
    </ion-card></ion-list>

  <ion-grid *ngIf="showstartscherm && !isLoading">
    <ion-row align-items-center>
      <ion-card>
        <ion-card-header text-wrap>
          Wanneer je de test start gaat de teller lopen. Je hebt 20 seconden om iedere vraag te beantwoorden.<br>
          Succes!
        </ion-card-header>
      </ion-card>
      <button full ion-button color="quizbutton" (click)="nextSlide()">Start de test!</button>
    </ion-row>
  </ion-grid>

  <ion-grid class="quizscherm" *ngIf="showquizscherm">
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-card>
            <ion-card-header class="vragen-header" text-wrap>
              {{question?.vraag}}
            </ion-card-header>
          </ion-card>
        </ion-row>
        <ion-row align-self-center>
          <div class="countdown">
            <div class="countdown-number">
              {{countdown}}
            </div>
            <div class="countdown-number"></div>
            <svg>
              <circle r="27" cx="30" cy="30"></circle>
            </svg>
          </div>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col align-self-end>
        <button ion-button color="quizbutton" full *ngFor="let answer of question?.antwoorden; let i = index;"
                (click)="selectAnswer(answer, question)">
          {{i+1}}. {{answer.antwoord}}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="showeindscherm">
    <ion-card>
      <ion-card-header text-wrap>Je hebt de test afgerond, hieronder zie je jouw antwoorden voor aflevering
        {{aflevering}}
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let quizAntwoord of quizAntwoorden; let i = index;">
          <h3 text-wrap>{{quizAntwoord.vraag.vraag}}<br>
            {{quizAntwoord.antwoord?.antwoord ? quizAntwoord.antwoord.antwoord : 'geen antwoord'}}</h3>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
<ion-footer *ngIf="showeindscherm || showstartscherm || showgeenquizscherm || showeindeseizoenscherm">
  <button ion-button (click)="goBack()" full color="quizbutton">Keer terug naar het menu</button>
</ion-footer>

