<ion-content class="quiz">

  <ion-slides #slides [options]="slideOptions">

    <ion-slide class="start-slide">
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button color="button" (click)="nextSlide()">Start!</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">
      <ion-grid>
        <ion-row style="background-color: #f1c40f;">
          <ion-col>
            Vraag {{actieveVraag}}
            <h3>{{question.vraag}}</h3>
            <div class="countdown">
              <div class="countdown-number">
                {{countdown}}
              </div>
              <div class="countdown-number"></div>
              <svg>
                <circle r="18" cx="20" cy="20"></circle>
              </svg>
            </div>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: purple;">
          <ion-col col-12>
            <button ion-button color="button" full *ngFor="let answer of question.antwoord; let i = index;"
                    (click)="selectAnswer(answer, question)">
              {{i+1}}. {{answer.antwoord}}
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <h2>Dit waren de vragen, zet nu je jokers in</h2>

      <button ion-button (clikc)="restartQuiz()" full color="button">Zet Jokers in</button>

    </ion-slide>

  </ion-slides>

</ion-content>
