.ios, .md {

  page-quiz {
    h3 {
      color: #ffffff;
    }
    .spinner-ios-crescent circle {
      stroke: #fff;
    }
    ion-card {
      background-color: map-get($colors, primary);
    }
    ion-card-header {
      color: #ffffff;
    }
    .vragen-header {
      font-size: 2.5em;
    }

    ion-content {
      background-color: map-get($colors, primary);
      color: #ffffff;
    }
    scroll-content {
      //display: flex;
      //flex-direction: column;
    }

    ion-grid {
      padding: 0;
      height: 100%;
    }

    ion-row {
      flex: 1;
    }

    ion-card {
      background-color: map-get($colors, primary);
      color: #ffffff;
      box-shadow: none;
    }
    ion-item {
      margin-bottom: 5px;
      font-size: 1.2em;
      background-color: map-get($colors, primary);
      color: #ffffff;
    }

    //flash-card {
    //  color: #ffffff;
    //
    //  img {
    //    width: 70%;
    //    height: auto;
    //  }
    //}

    //.start-slide {
    //  justify-content: center;
    //  align-items: center;
    //
    //  button {
    //    font-size: 1.3em;
    //    font-weight: bold;
    //  }
    //}

    //countdown
    body {
      height: 100%;
      width: 100%;
      background-color: #333;
    }

    .countdown {
      position: relative;
      margin: auto;
      margin-top: 10px;
      height: 60px;
      width: 60px;
      text-align: center;
    }

    .countdown-number {
      color:  map-get($colors, navbar);;
      //display: inline-block;
      line-height: 60px;
      font-size: 2em
    }

    .quizscherm svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }

    .quizscherm svg circle {
      stroke-dasharray: 170px;
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 2px;
      stroke:  map-get($colors, primary);
      fill: none;
      //animation: countdown 10s linear infinite forwards;
    }

    @keyframes countdown {
      from {
        stroke-dashoffset: 0px;
      }
      to {
        stroke-dashoffset: 113px;
      }
    }

  }
}
