<ion-content>

  <ion-slides #slides [options]="slideOptions">

    <ion-slide class="start-slide">
      <button ion-button color="primary" (click)="nextSlide()">Start!</button>
    </ion-slide>

    <ion-slide *ngFor="let question of questions; let i = index;">

      <div class="countdown">
        <div class="countdown-number">
          {{countdown}}
        </div>
        <div class="countdown-number"></div>
        <svg>
          <circle r="18" cx="20" cy="20"></circle>
        </svg>
      </div>
      <ion-card>
        <ion-card-header>
          Vraag {{actieveVraag}}
        </ion-card-header>
        <ion-card-content>

          <h3>{{question.vraag}}</h3>
          <ion-list no-lines radio-group>
            <ion-item color="primary" *ngFor="let answer of question.antwoord; let i = index;">
              <ion-label>{{i+1}}. {{answer.antwoord}}</ion-label>
              <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <h2>Final Score: {{score}}</h2>

      <button (click)="restartQuiz()" ion-button full color="primary">Start Again</button>

    </ion-slide>

  </ion-slides>

</ion-content>
