//profile-page {
  ion-thumbnail {
    opacity: 1;
    &.afgevallen {
      background: darkred;
    }
    &.volgenderonde {
      background: darkgreen;
    }
  }
  ion-thumbnail img {
    &.afgevallen {
      opacity: 0.4;
    }
    &.volgenderonde {
      opacity: 0.4;
    }
  }
  //ion-item.item-block {
  //  padding-left: 0 !important;
  //  border-top: 0 !important;
  //  border-bottom: 0 !important;
  //  min-height: 4.0em;
  //}
  //
  //ion-card {
  //  margin: 0 !important;
  //  width: 100% !important;
  //}
//}
