<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Voorspellingen</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="auth.authenticated() && !isLoading">

    <ion-item *ngIf="auth.user">
      <ion-thumbnail item-left>
        <img src="{{ auth.user.picture }}">
      </ion-thumbnail>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>


    <div *ngFor="let voorspelling of molvoorspellingen">
      <ion-item text-center color="navbar">
        Aflevering {{voorspelling?.aflevering}}
      </ion-item>
      <ion-item class="even">
        <ion-thumbnail
          [ngClass]="voorspelling?.voorspelling.mol.afgevallen
          && voorspelling?.voorspelling.mol.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'" item-left>
          <img [src]=voorspelling?.voorspelling.mol.image_url [ngClass]="voorspelling?.voorspelling.mol.afgevallen && voorspelling?.voorspelling.mol.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'" >
        </ion-thumbnail>
        <h2>De Mol:{{ voorspelling?.voorspelling.mol.display_name }}</h2>
        <div item-right>
          {{voorspelling?.molpunten}}
        </div>
      </ion-item>
      <ion-item class="odd">
        <ion-thumbnail item-left [ngClass]="voorspelling?.voorspelling.winnaar.afgevallen && voorspelling?.voorspelling.winnaar.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'">
          <img [src]=voorspelling?.voorspelling.winnaar.image_url [ngClass]="voorspelling?.voorspelling.winnaar.afgevallen && voorspelling?.voorspelling.winnaar.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'" >
        </ion-thumbnail>
        <h2>De Winnaar:{{ voorspelling?.voorspelling.winnaar.display_name }}</h2>
       <div item-right>
         {{voorspelling?.winnaarpunten}}
       </div>

      </ion-item>
      <ion-item class="even">
        <ion-thumbnail item-left [ngClass]="voorspelling?.voorspelling.afvaller.afgevallen && voorspelling?.voorspelling.afvaller.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'">
          <img [src]=voorspelling?.voorspelling.afvaller.image_url [ngClass]="voorspelling?.voorspelling.afvaller.afgevallen && voorspelling?.voorspelling.afvaller.aflevering === voorspelling?.voorspelling.aflevering.aflevering ? 'afgevallen' : 'volgenderonde'" >
        </ion-thumbnail>
        <h2>Afvaller:{{ voorspelling?.voorspelling.afvaller.display_name }}</h2>
        <div item-right>
          {{voorspelling?.afvallerpunten}}
        </div>

      </ion-item>
    </div>
  </ion-list>

</ion-content>
