<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="auth.authenticated()">

    <ion-item *ngIf="auth.user">
      <ion-thumbnail item-left>
        <img src="{{ auth.user.picture }}">
      </ion-thumbnail>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>


    <div *ngFor="let voorspelling of molvoorspellingen">
    <ion-item color="navbar">
          Aflevering {{voorspelling?.aflevering}}
      </ion-item>
      <ion-item class="even">
        <ion-thumbnail item-left>
          <img
            [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + voorspelling?.mol.toLowerCase() + '.jpg'">
        </ion-thumbnail>
        <h2>De Mol:{{ voorspelling?.mol }}</h2>
      </ion-item>
      <ion-item class="odd">
        <ion-thumbnail item-left>
          <img
            [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + voorspelling?.winnaar.toLowerCase() + '.jpg'">
        </ion-thumbnail>
        <h2>De Winnaar:{{ voorspelling?.winnaar }}</h2>
      </ion-item>
      <ion-item class="even">
        <ion-thumbnail item-left>
          <img
            [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + voorspelling?.afvaller.toLowerCase() + '.jpg'">
        </ion-thumbnail>
        <h2>Afvaller:{{ voorspelling?.afvaller }}</h2>
      </ion-item>
    </div>
  </ion-list>


</ion-content>
<ion-footer>
  <button *ngIf="!auth.authenticated()" ion-button color="button" full (click)="auth.login()">Login</button>
  <button ion-button color="button" full (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>

</ion-footer>
