// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  // needed for Iphone X
  padding-top: env(safe-area-inset-top);
}

.item-ios.activated.headereven {
  background-color: #7fb2b3;
}

.item-ios.activated.headerodd {
  background-color: #9fc5c6;
}

.item-md.activated.headereven {
  background-color: #7fb2b3;
}

.item-md.activated.headerodd {
  background-color: #9fc5c6;
}

.headereven {
  background-color: #7fb2b3;
}

.headerodd {
  background-color: #9fc5c6;

}

.item-md p {
  font-size: 1.0rem;
}

ion-thumbnail img {
  max-height: 3.5em !important;
  max-width: 3.5em !important;
}

ion-thumbnail[item-left] {
  margin: 0 16px 0 0 !important;
}

ion-thumbnail[item-right] {
  margin: 0 0 0 16px !important;
}

//
ion-item.item-block {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.item-inner {
  padding-right: 0 !important;
  border-bottom: 0 !important;
}

.odd {
  background-color: lighten(#cecece, 5%);
}

.even {
  background-color: lighten(#cecece, 10%);
}

.button {
  height: 4.4em;
}

.item-md ion-thumbnail {
  min-width: 3.5em;
  min-height: 3.5em;
}

ion-list {
  //margin: 0 !important;
}

//svg {
//  height: 14px !important;
//  width: 13px !important;
//}

svg.auth0-lock-icon {
  height: 14px !important;
  width: 13px !important;
  -webkit-transform: rotateY(0deg) rotateZ(0deg) !important;
  transform: rotateY(0deg) rotateZ(0deg) !important;
}

div.spinner {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 85px;
  text-align: center;
}

.spinner svg {
  //width: 19% !important;
  height: 85px !important;
}

ion-footer .button {
  margin: 0;

}
