<ion-list>
  <ion-item [class.headerodd]="isOdd"
            [class.headereven]="isEven" (click)="fetchDetails()">
    <ion-thumbnail item-left>
      <div class="thumbnailtext"></div>
      {{totaalstandline.totaalpunten}}
    </ion-thumbnail>
    {{totaalstandline.display_name}}
    <ion-icon *ngIf="!showDetails" item-right name="arrow-down"></ion-icon>
    <ion-icon *ngIf="showDetails" item-right name="arrow-up"></ion-icon>
  </ion-item>


  <ion-list *ngFor="let afleveringstandline of afleveringstand;
            let index =index;
            let isOdd=odd;
            let isEven=even">
    <ion-item *ngIf="showDetails" [class.odd]="isOdd"
              [class.even]="isEven">
      <ion-thumbnail item-left>
        <div class="thumbnailtext"></div>
        {{afleveringstandline.molpunten + afleveringstandline.afvallerpunten + afleveringstandline.winnaarpunten}}
      </ion-thumbnail>
      <ion-thumbnail item-right>
        <img [src]="afleveringstandline.voorspelling.afvaller.image_url">
      </ion-thumbnail>
      <h2> Aflevering {{afleveringstandline.aflevering}}</h2>
      <p>Afvaller: {{afleveringstandline.voorspelling.afvaller.display_name}} {{afleveringstandline.afvallerpunten}}</p>
      <p>Mol: {{afleveringstandline.voorspelling.mol.display_name}} {{afleveringstandline.molpunten}} </p>
      <p>Winnaar: {{afleveringstandline.voorspelling.winnaar.display_name}} {{afleveringstandline.winnaarpunten}}</p>
      <p>Testscore:
              <!--show punten-->
        <span>50</span></p>

    </ion-item>
  </ion-list>
  <!--odd en even omgedraaid, omdat er een extra item getoond wordt -->
  <div *ngFor="let afleveringstandline of afleveringstand; let index =index;
            let isOdd=odd;
            let isEven=even">
    <ion-list *ngIf="showDetails && afleveringstandline.laatsteaflevering">
      <ion-item [class.even]="isOdd"
                [class.odd]="isEven">
        <ion-thumbnail item-left>
          <div class="thumbnailtext"></div>
          9999
        </ion-thumbnail>
        <h2>Punten voor de quiz</h2>
        <p>Totaal punten: 9999</p>
        <ion-thumbnail *ngIf="afleveringstandline.laatsteaflevering" item-right>
          <img
            [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + afleveringstandline?.ditisdemol.toLowerCase() + '.jpg'">
        </ion-thumbnail>
      </ion-item>
    </ion-list>
  </div>

</ion-list>


<!--<pre>{{afleveringstand | json}}</pre>-->


<!--<ion-list>-->
<!--<ion-item>-->
<!--<ion-avatar item-left>-->
<!--<img src="img/avatar-cher.png">-->
<!--</ion-avatar>-->
<!--<h2>Cher</h2>-->
<!--<p>Ugh. As if.</p>-->
<!--</ion-item>-->
<!--</ion-list>-->
