<ion-list>
</ion-list>

<ion-list>
  <ion-item>
    {{totaalstandline.molloot}} {{totaalstandline.totaalpunten}}
    <button ion-button *ngIf="!showDetails" (click)="fetchDetails()" item-right>+</button>
    <button ion-button *ngIf="showDetails" (click)="showDetails = !showDetails" item-right>-</button>

  </ion-item>

  <ion-list *ngFor="let afleveringstandline of afleveringstand">
    <ion-item *ngIf="showDetails">
      <ion-thumbnail item-left>
        <img
          [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + afleveringstandline?.afgevallen.toLowerCase() + '.jpg'">
      </ion-thumbnail>
      <h2>  Aflevering {{afleveringstandline.aflevering}}
      </h2>
      <p>Jouw mol: {{afleveringstandline.mol}} {{afleveringstandline.molafgevallenpunten}}</p>
      <p>Jouw afvaller: {{afleveringstandline.afvaller}} {{afleveringstandline.afvallerpunten}}</p>
    </ion-item>
  </ion-list>

</ion-list>


<!--<pre>{{afleveringstand | json}}</pre>-->


<!--<ion-list>-->
<!--<ion-item>-->
<!--<ion-avatar item-left>-->
<!--<img src="img/avatar-cher.png">-->
<!--</ion-avatar>-->
<!--<h2>Cher</h2>-->
<!--<p>Ugh. As if.</p>-->
<!--</ion-item>-->
<!--</ion-list>-->
