<ion-header>

  <ion-navbar>
    <ion-title>mollen</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let mol of mollen">
    <ion-item>
      <ion-avatar item-left>
        <img
          [src]="'http://wieisdemol.avrotros.nl/typo3conf/ext/widm_resources/Resources/Public/GFX/avatar_' + mol?.name.toLowerCase() + '.jpg'">
      </ion-avatar>
      <h2>{{mol?.name}}
      </h2>
      <span *ngIf="mol.laatsteaflevering">afgevallen in aflevering: {{mol?.laatsteaflevering}}</span>
    </ion-item>
  </ion-card>
</ion-content>
