.carousel-container {
  padding: 20px 0;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  position: relative;
  perspective: 3000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 2s;
}

.carousel-slide-item {
  display: block;
  position: absolute;
  background: #000;
  width: 150px;
  //height: 200px;
  font-size: large;
  text-align: center;
  color: #FFF;
  opacity: 1;
  //border-radius: 10px;
  border: solid 1px #000;
}

.inactive {
  color: #444746;
}

.img_inactive {
  opacity: 0.4;
}

.carousel_image{
  border: solid 3px black;
  border-bottom: 0px;
}
