.carousel-container {
  padding: 20px 0;
  margin: 0 auto;
  width: 150px;
  height: 200px;
  position: relative;
  perspective: 3000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.carousel-slide-item {
  display: block;
  position: absolute;
  background: darkred;
  height: 150px;
  font-size: large;
  text-align: center;
  color: #FFF;
  opacity: 1;
  -webkit-border-radius: 12.5%;
  -moz-border-radius: 12.5%;
  border-radius: 12.5%;
}


.img_inactive {
  opacity: 0.4;
}

.carousel_image {
  -webkit-border-radius: 12.5%;
  -moz-border-radius: 12.5%;
  border-radius: 12.5%;
}
