<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Jouw antwoorden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="!(quizpunten$ | async)?.length >= 0" class="spinner">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-list *ngIf="auth.isAuthenticated() && !isLoading">

    <ion-item *ngIf="auth.user">
      <ion-thumbnail item-left>
        <img src="{{ auth.user.picture }}">
      </ion-thumbnail>
      <h2>{{ auth.user.nickname }}</h2>
      <p>{{ auth.user.email }}</p>
    </ion-item>

    <div *ngIf="(acties$ | async)?.testaflevering === 0">
      <ion-item text-center color="navbar">
        Huidige aflevering
      </ion-item>
      <ion-item text-wrap class="even">
        De 1e test verschijnt na aflevering 1.
        Heb je je notificaties ingeschakeld dan krijg je een notificatie wanneer de test beschikbaar is.
      </ion-item>
    </div>

    <div *ngIf="(acties$ | async)?.testaflevering > 0">
      <ion-item text-center color="navbar">
        Huidige aflevering
      </ion-item>
      <ion-item class="even" *ngIf="(quizAntwoorden$ | async).length === 0">
        <button ion-button color="button" full (click)="goToQuiz()">Maak de nieuwe test</button>
      </ion-item>
      <ion-item *ngFor="let vraag of quizAntwoorden$ | async; let index=index; let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even }">
        <h2 text-wrap>{{vraag.vraag.vraag}}</h2>
        <h3 text-wrap>{{vraag.antwoord.antwoord}}</h3>
      </ion-item>
    </div>

    <div *ngFor="let quizpunt of quizpunten$ | async">
      <ion-item text-center color="navbar">
        Aflevering {{quizpunt?.aflevering}} <span item-right>{{quizpunt?.afleveringpunten}} punten </span>
      </ion-item>
      <ion-item *ngFor="let vraag of quizpunt.vragen; let index=index; let odd=odd; let even=even" [ngClass]="{ odd: odd, even: even }">
        <h2 text-wrap>{{vraag.quizresultaat.vraag.vraag}}</h2>
        <h3 text-wrap>{{vraag.quizresultaat.antwoord.antwoord}}</h3>
        <ion-thumbnail item-left [ngClass]="{daler: vraag.deltaQuizpunten < 0}">
          <div class="thumbnailtext"></div>
          <span class="totaalpunten">
        {{vraag.quizpunten}}
        </span>
        </ion-thumbnail>
      </ion-item>
    </div>
  </ion-list>

</ion-content>
