page-homepage {

  ion-card {
    text-align: center;
    margin: 0 !important;
    width: 100% !important;
    height: 27vh;
    background-color: #FFFFFF;
  }

  ion-card img{
    width: 100%;
  }

  .card-title {
    position: absolute;
    bottom: 10%;
    font-size: 2em;
    width: calc(100% - 10px);
    font-weight: bold;
    color: #FFFFFF;
    background-color:  rgba(0, 0, 0, 0.2);
  }

  scroll-content {
    display: flex;
    flex-direction: column;
  }
  ion-item.item-block {
    padding-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    min-height: 4.0em;
  }
}

