<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Wie is de Molloot</ion-title>
    <ion-buttons end>
      <button color="light" ion-button icon-only (click)="openIntro()">
        <ion-icon name="ios-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="home">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="openStand()">
          <img src="assets/cardimages/stand.jpeg">
          <div class="card-title" text-center>De stand</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card (click)="startQuiz()">
          <img src="assets/cardimages/test.jpeg">
          <div class="card-title" text-center>Start de Test</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card (click)="openQuizPunten()">
          <img src="assets/cardimages/test_results.jpeg">
          <div class="card-title" text-center>
            Jouw antwoorden
          </div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card *ngIf="auth.authenticated()" (click)="openVoorspelling()">
          <img src="assets/cardimages/voorspellen.jpeg">
          <div class="card-title">Voorspellen</div>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card (click)="openProfile()">
          <img src="assets/cardimages/voorspellingen.jpeg">
          <div class="card-title" text-center>Jouw voorspellingen</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <button *ngIf="!auth.authenticated()" ion-button color="button" full (click)="auth.login()">Login</button>
  <button ion-button color="button" full (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
</ion-footer>

