<ion-header>
  <ion-navbar color="navbar">
    <ion-title>Wie is de Molloot</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding class="home">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="openStand()">
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-amsterdam.png">
          <div class="card-title" text-center>De stand</div>

          <!--<img class="scoreboard" src="./assets/icon/scoreboard.svg">-->
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card (click)="startQuiz()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgrO7quuI5D6qVjfIKSrwzUZ8nbVd2z_mhVBViaqJpFnju5IALCg">
          <div class="card-title" text-center>Start de Test</div>
          <!--<img class="quiz" src="../../assets/icon/quiz-on-computer-with-question-signs-around.svg">-->
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card *ngIf="auth.authenticated()" (click)="openVoorspelling()">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgrO7quuI5D6qVjfIKSrwzUZ8nbVd2z_mhVBViaqJpFnju5IALCg">
          <div class="card-title">Voorspellen</div>
          <!--<div class="card-title" class="card-subtitle">41 Listings</div>-->

          <!--<img class="questions" src="./assets/icon/questions.svg">-->
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="auth.authenticated()">
      <ion-col>
        <ion-card *ngIf="auth.authenticated()" (click)="openQuizPunten()">
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
          <div class="card-title" text-center>
            Test Resultaten
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="openProfile()">
          <img src="https://ionicframework.com/dist/preview-app/www/assets/img/card-saopaolo.png">
          <div class="card-title" text-center>Jouw voorspellingen</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>
  <button *ngIf="!auth.authenticated()" ion-button color="button" full (click)="auth.login()">Login</button>
  <button ion-button color="button" full (click)="auth.logout()" *ngIf="auth.authenticated()">Logout</button>
</ion-footer>

